<h2>Ratings</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4>Best beers</h4>
      <%= turbo_frame_tag "best_beers", src: best_beers_ratings_path do %>
        loading beers...
      <% end %>
    </div>
    <div class="col-sm-4">
      <h4>Best breweries</h4>
      <%= turbo_frame_tag "best_breweries", src: best_breweries_ratings_path do %>
        loading breweries...
      <% end %>
    </div>
    <div class="col-sm-4">
      <h4>Best styles</h4>
      <%= turbo_frame_tag "best_styles", src: best_styles_ratings_path do %>
        loading styles...
      <% end %>
    </div>
  </div>
</div>

<h4>Most active users</h4>
<%= turbo_frame_tag "most_active_users", src: most_active_users_ratings_path do %>
  loading users...
<% end %>

<h4>Recent ratings</h4>
<%= render "recent", ratings: @recent, page: @page, order: @order, last_page: @last_page %>